@import "tailwindcss";

@theme {
  --color-jsBlue: #2563eb;
  --color-jsGreen: #059669;
  --color-jsOffWhite: #f8f6f3;
  --color-jsMidnight: #0f172a;
  --color-jsText: #475569;
  --color-jsSubtext: #cbd5e1;

  --shadow-imgShadow: 8px 8px 20px rgba(0, 0, 0, 0.4);
}

.inspect {
  border: solid red 1px;
}

.fader-delay-100 {
  animation-delay: 100ms;
}

.fader-delay-200 {
  animation-delay: 200ms;
}
